{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">

    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css' %}">
    

    <title>
        {%block title%}
        SkillNG
        {%endblock%}
    </title>
</head>
<body>
        <div>
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-button bg-primary" >
                    <div class="container"><a class="navbar-brand" href="{%url 'course_list'%}">Skill <span>NG</span></a>
                        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse"
                            id="navcol-1">
                            <ul class="nav navbar-nav mr-auto">
                                <li role="presentation" class="nav-item"><a class="nav-link active" href="#">Contact</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#">About</a></li>

                                <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Learning </a>
                                    <div role="menu" class="dropdown-menu">
                                        <a role="presentation" class="dropdown-item" href="{%url 'student_course_list'%}">Classroom</a>
                                        <!-- <a role="presentation" class="dropdown-item" href="#">Second Item</a>
                                        <a role="presentation" class="dropdown-item" href="#">Third Item</a> -->
                                    </div>
                                </li>
                                {% if user.groups.first %}
                                <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Tutor </a>
                                    <div role="menu" class="dropdown-menu">
                                        <a role="presentation" class="dropdown-item" href="{%url 'manage_course_list'%}">My Courses</a>
                                        
                                    </div>
                                </li>
                                {%endif%}

                            </ul>
                            {%if user.is_authenticated%}
                                <span class="navbar-text actions">
                                    <a class="login mr-2" href="{%url 'logout'%}">Sign out</a>
                                    <!-- <a class="btn btn-light action-button" role="button" href="#">Sign Up</a> -->
                                </span>
                            {%else%}
                                <span class="navbar-text actions">
                                    <a class="login mr-2 btn btn-outline-dark" href="{%url 'login'%}">Log In</a>
                                    <li class="nav-item dropdown btn btn-light"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Join us!! </a>
                                        <div role="menu" class="dropdown-menu">
                                            <a role="presentation" class="dropdown-item" href="{%url 'tutor_registration'%}">Join as instrutor</a>
                                            <a role="presentation" class="dropdown-item" href="{%url 'student_registration'%}">Join as student</a>
                                        </div>
                                    </li>
                                </span>
                            {%endif%}
                        </div>
                    </div>
            </nav>    
        </div>
    
    <div class="content">
        {%block content%}

        {%endblock%}
    </div>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
        {% block domready %}

        {% endblock %}
        });
    </script>
</body>
</html>