{% extends "base.html" %}

{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        SkillNG Home
    {% endif %}
{% endblock %}

{% block content %}

<div class="hero">
<div class="row hero-head">
<h1>SkillNG, Educating the world <br> <span>One person at a time</span> </h1>
<br>
<p>The world is moving fast and you dont want to be left behind
    <br> We train you on all the skills you need to fit into the furture</p>
</div>
<div class="hero-tail">
    <i onclick=showCourses() class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
</div>

<div class="">
    <div class="page-title">
    <h1>
        {% if subject %}
            {{ subject.title }} courses
        {% else %}
            All courses
        {% endif %}
    </h1>
    </div>

    <div class='main'>
    <aside class="module-side col-md-3">
    <div class="contents">
        <h3>Subjects</h3>
        <ul id="modules">
            <li {% if not subject %} class="selected" {% endif %}>
            <a href="{% url 'course_list' %}">All</a>
            </li>
            {% for s in subjects %}
                <li 
                {% if subject == s %} class="selected"{% endif %}>
                <a href="{% url 'course_list_subject' s.slug %}">
                {{ s.title }}
                <br><span>{%if s.total_courses == 0 %}No courses yet{%else%}{{ s.total_courses }} courses{%endif%}</span>
                </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </aside>
    <div class="module col-md-8">
        {% for course in courses %}
            {% with subject=course.subject %}
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="https://image.freepik.com/free-vector/international-literacy-day_23-2148602602.jpg" alt="">
                </div>
                <div class="card-title">
                    <h3>
                        <a  href="{% url 'course_detail' course.slug %}">
                        {{ course.title }}
                        </a>
                    </h3>
                </div>
                <div class="card-details">
                    <p>
                        <a {%if subject.title == 'Programming' %} class='badge badge-primary ' {%elif subject.title == 'Cooking' %} class='badge badge-success ' {%elif subject.title == 'Technology' %} class='badge badge-danger '{%elif subject.title == 'Digital marketing' %} class='badge badge-dark '  {%elif subject.title == 'Love' %} class='badge badge-warning '{%endif%} 
                        href="{% url 'course_list_subject' subject.slug %}">{{subject }}</a>.
                        <br>
                        {{ course.total_modules }} modules.
                        <br>
                        Instructor: {{ course.owner.first_name }} {{ course.owner.last_name }}
                    </p>
                </div>
                    
            </div>
                
            {% endwith %}
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}