{% extends "base.html" %}
{% load course %}
{%load static%}
{% block title %}
 Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
<div class=" ">
    {% with course=module.course %}
    
    <div class='main'>
    <aside class="module-side ">
    <div class="contents">
       <h3>Modules</h3> 
       <div  class="drag-text text-muted mb-2 ">
        
            <img src="{% static 'img/drag2.png'%}"  alt="">
            (Drag to re-order)
            <img src="{% static 'img/drag2.png'%}"  alt="">
        
       </div>
       <ul id="modules">
           {% for m in course.modules.all %}
               <li data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
               <a href="{% url 'module_content_list' m.id %}">
               <span>
               Module <span class="order">{{ m.order|add:1 }}</span>
               </span>
               <br>
               {{ m.title }}
               </a>
               </li>
               {% empty %}
               <li>No modules yet.</li>
           {% endfor %}
       </ul>
       <p><a href="{% url 'course_module_update' course.id %}">
       Edit modules</a></p>
    </div>
    </aside>
    <div class="module-with-side">
        <div class="page-title-course">
            <h1 >Course "{{ course.title }}"</h1>
        </div> 
       <h3>Module {{ module.order|add:1 }}: {{ module.title }}</h3>
       <h4>Module contents:</h4>
       <br>
       <div  class="drag-text text-muted mb-2 ">
        <img src="{% static 'img/drag2.png'%}"  alt="">
        (Drag to re-order)
        <img src="{% static 'img/drag2.png'%}"  alt="">
        </div>
        <br>
       <div id="module-contents">
       {% for content in module.contents.all %}
       <div data-id="{{ content.id }}">
           {% with item=content.item %}
               <p>{%if item|model_name == 'video' %}<i class="fab fa-youtube"></i>{%elif item|model_name == 'image' %}<i class="fas fa-images"></i>{%elif item|model_name == 'text' %}<i class="fas fa-file-word"></i>{%else %}<i class="fas fa-file-alt"></i>{%endif%} <span class="text-primary text-lg">|</span> {{ item }} ({{ item|model_name }})</p>
               <div class="controls">
               <a class="btn btn-primary btn-sm" href="{% url 'module_content_update' module.id item|model_name item.id %}"><i class="far fa-edit"></i></a>
               <form action="{% url 'module_content_delete' content.id %}" method="post">
                   
                   <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                   {% csrf_token %}
               </form>
            </div>
           {% endwith %}
           

       </div>
       {% empty %}
           <p>This module has no contents yet.</p>
       {% endfor %}
       </div>
       <h3><i class="fas fa-plus-square"> content:</i></h3>
       <ul class="content-types">
           <li><a href="{% url 'module_content_create' module.id 'text Text"><i class="fas fa-file-word"></i> Text </a> </li>
           <li><a href="{% url 'module_content_create' module.id 'image'%}"><i class="fas fa-images"></i> Image</a></li>
           <li><a href="{% url 'module_content_create' module.id 'video'%}"><i class="fab fa-youtube"></i> Video</a></li>
           <li><a href="{% url 'module_content_create' module.id 'file'%}"><i class="fas fa-file-alt"></i> File</a></li>
       </ul>
   </div>
</div>

   {% endwith %}
</div>


{% endblock %}

{% block domready %}
    $('#modules').sortable({
    stop: function(event, ui) {
    modules_order = {};
    $('#modules').children().each(function(){
    // update the order field
    $(this).find('.order').text($(this).index() + 1);
    // associate the module's id with its order
    modules_order[$(this).data('id')] = $(this).index();
    });

    $.ajax({type: 'POST', url: '{% url "module_order" %}', contentType: 'application/json; charset=utf-8', dataType: 'json', data: JSON.stringify(modules_order)});
    }
    });

    $('#module-contents').sortable({
    stop: function(event, ui) {
    contents_order = {};
    $('#module-contents').children().each(function(){
    // associate the module's id with its order
    contents_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({type: 'POST', url: '{% url "content_order" %}', contentType: 'application/json; charset=utf-8', dataType: 'json', data: JSON.stringify(contents_order),
    });
    }
    });
{% endblock %}